*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/build-logic/convention/build/
/core/dispatchers/build/
/core/dispatchers/build/intermediates/javac/debug/classes/
/core/navigation/build/
/core/navigation/build/intermediates/javac/debug/classes/
/core/pref/build/
/core/theme/build/
/feature/auth/data/build/
/feature/auth/domain/build/
/feature/feed/data/build/
/feature/feed/domain/build/
/feature/feed/presentation/build/